<h2>Book List</h2>

{% if query %}
  <p>Search results for "{{ query }}":</p>
{% endif %}

<ul>
  {% for book in books %}
    <li>
      {{ book.title }} by {{ book.author }}
      {% if perms.bookshelf.can_edit %}
        <a href="{% url 'book_edit' book.pk %}">Edit</a>
      {% endif %}
      {% if perms.bookshelf.can_delete %}
        <a href="{% url 'book_delete' book.pk %}">Delete</a>
      {% endif %}
    </li>
  {% empty %}
    <li>No books found{% if query %} for "{{ query }}"{% endif %}.</li>
  {% endfor %}
</ul>

{% if perms.bookshelf.can_create %}
  <a href="{% url 'book_create' %}">Add Book</a>
{% endif %}
