{% extends 'blog/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
  <h2>Your Profile</h2>

  <div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <legend>Account info</legend>
        {{ u_form.as_p }}
      </fieldset>
      <fieldset>
        <legend>Profile</legend>
        {% if user.profile.profile_picture %}
          <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}'s picture" width="120">
        {% endif %}
        {{ p_form.as_p }}
      </fieldset>
      <button type="submit">Update profile</button>
    </form>
  </div>
{% endblock %}
