{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Blog</title>
</head>
<body>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <nav>
        <a href="{% url 'blog:home' %}">Home</a>
        <a href="{% url 'blog:post-list' %}">All Posts</a>
        {% if user.is_authenticated %}
            <a href="{% url 'blog:post-create' %}">New Post</a>
            <a href="{% url 'blog:profile' %}">Profile</a>
            <a href="{% url 'blog:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'blog:login' %}">Login</a>
            <a href="{% url 'blog:register' %}">Register</a>
        {% endif %}
    </nav>

    <hr>
    {% block content %}{% endblock %}
</body>
</html>
