{% extends "blog/base.html" %}
{% block content %}
<h2>{{ object.title }}</h2>

{% if not object.published_date %}
  <p style="color:red;">(Draft)</p>
{% endif %}

<p>{{ object.content }}</p>
<p>By {{ object.author }} on
  {% if object.published_date %}
    {{ object.published_date|date:"F d, Y" }}
  {% else %}
    {{ object.date_posted|date:"F d, Y" }}
  {% endif %}
</p>

{% if user == object.author %}
  <a href="{% url 'blog:post-update' object.pk %}">Edit</a> |
  <a href="{% url 'blog:post-delete' object.pk %}">Delete</a>
  {% if not object.published_date %}
    <form action="{% url 'blog:post-publish' object.pk %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit">Publish</button>
    </form>
  {% endif %}
{% endif %}
{% endblock %}
